<div class="ember-bootstrap-markdown-toolbar">
  {{#each toolbarBtns as |btnGroup|}}
    <div class="btn-group">
      {{#each btnGroup as |btn|}}
        <button type="button" class="btn btn-default" {{action 'applyStyle' btn.regex btn.requireSelection btn.prompt}}><i class="fa {{btn.iconClass}}"></i></button>
      {{/each}}
    </div>
  {{/each}}
  
  {{yield this}}
  
  <div class="btn-group">
    <button type="button" class="btn btn-default" {{action 'undo'}} disabled="{{noUndo}}"><i class="fa fa-undo"></i></button>
  </div>
  
  <a class="btn btn-link" title="What is Markdown?" href="https://guides.github.com/features/mastering-markdown/" target="_blank"><i class="fa fa-question-circle"></i></a>
</div>

<div class="ember-bootstrap-markdown-editor">
  {{textarea
    id=textareaId
    class="ember-bootstrap-markdown-textarea form-control"
    value=value
  }}
</div>

<div class="ember-bootstrap-markdown-preview {{if previewHTML '' 'placeholder'}}" {{action 'edit'}}>
  {{#if previewHTML}}
    {{{previewHTML}}}
  {{else}}
    Click to edit content...
  {{/if}}
</div>

<div class="ember-bootstrap-markdown-footer">
  <div class="tips"><em>* HTML is supported. <a title="What is Markdown?" href="https://guides.github.com/features/mastering-markdown/" target="_blank">Markdown</a> is preferred!</em></div>
  
  <button class="btn btn-default" {{action 'discard'}}><i class="fa fa-remove"> Discard Changes</i></button>
  <button class="btn btn-success" {{action 'apply'}}><i class="fa fa-save"> Apply</i></button>
</div>
